$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

@mixin breakpoint($device, $direction: min) {
  @if ($direction == min) {
    @media (min-width: $device) {
      @content;
    }
  } @else {
    @media (max-width: $device) {
      @content;
    }
  }
}
