.container {
  padding-inline: var(--container-padding-inline);

  @include breakpoint($desktop) {
    margin: 0 auto;
    width: 1440px;
  }
}

.hidden-mobile {
  @include breakpoint($tablet - 0.1px, max) {
    display: none;
  }
}

.visible-mobile {
  @include breakpoint($tablet) {
    display: none;
  }
}
