:root {
  --font-family-base: 'Satoshi';
  --font-family-accent: 'Integral CF';

  --font-size-h1: 36px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-body: 14px;
  --font-size-body-lg: 16px;
  --font-size-body-xl: 20px;

  @include breakpoint($laptop) {
    --font-size-h1: 48px;
    --font-size-h2: 36px;
    --font-size-h3: 28px;
    --font-size-body: 16px;
  }

  @include breakpoint($desktop) {
    --font-size-h1: 64px;
    --font-size-h2: 48px;
    --font-size-h3: 36px;
    --font-size-body: 16px;
    --font-size-body-lg: 20px;
    --font-size-body-xl: 24px;
  }

  --color-dark: #000000;
  --color-dark-transparent-60: #00000099;
  --color-dark-transparent-40: #00000066;
  --color-dark-transparent-10: #0000001a;
  --color-light: #ffffff;
  --color-bg: #f0f0f0;

  --border-radius: 62px;

  --container-padding-inline: 16px;

  --header-height: 64px;

  @include breakpoint($tablet) {
    --header-height: 94px;
  }

  @include breakpoint($mobile) {
    --container-padding-inline: 25px;
  }
  @include breakpoint($laptop) {
    --container-padding-inline: 50px;
  }
  @include breakpoint($desktop) {
    --container-padding-inline: 100px;
  }
}
