@import '../../app/styles/media.scss';

.footer {
  position: relative;
  margin-top: 185px;
  padding-top: 190px;
  padding-bottom: 77px;
  background-color: var(--color-bg);

  @include breakpoint($tablet) {
    margin-top: 80px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 24px;

    @include breakpoint($tablet) {
      grid-template-columns: repeat(4, 25%);
    }

    @include breakpoint($laptop) {
      grid-template-columns: repeat(5, 20%);
      justify-items: end;
    }
  }

  &__subscribe {
    position: absolute;
    top: -200px;
    left: var(--container-padding-inline);
    right: var(--container-padding-inline);
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 24px;
    background-color: var(--color-dark);
    border-radius: 20px;

    @include breakpoint($mobile) {
      top: -150px;
    }

    @include breakpoint($tablet) {
      top: -30px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @include breakpoint($laptop) {
      top: -50px;
      padding: 43px 64px;
    }
  }

  &__subscribe-title {
    font-family: var(--font-family-accent);
    font-size: 32px;
    font-weight: 700;
    color: var(--color-light);
    text-transform: uppercase;

    @include breakpoint($tablet) {
      width: 50%;
    }
  }

  &__subscribe-block {
    @include breakpoint($tablet) {
      max-width: 350px;
      width: 50%;
    }
  }

  &__subscribe-input {
    margin-bottom: 12px;
    height: 42px;

    & > input {
      background-color: var(--color-light);
    }
  }

  &__subscribe-button {
    height: 42px;
    font-weight: 500;
  }

  &__heading {
    grid-column: span 2;

    @include breakpoint($tablet) {
      grid-column: span 4;
    }

    @include breakpoint($laptop) {
      grid-column: unset;
    }
  }

  &__logo {
    width: 144px;
    margin-bottom: 14px;
  }

  &__text {
    margin-bottom: 20px;
    color: var(--color-dark-transparent-60);
  }

  &__social-links {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__social-button {
    width: 28px;
    aspect-ratio: 1/1;
    background-color: var(--color-light);
    border-color: var(--color-dark);

    & > svg {
      fill: var(--color-dark);
    }

    &:hover {
      background-color: var(--color-dark);

      & > svg {
        fill: var(--color-light);
      }
    }
  }

  &__menu-title {
    margin-bottom: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__menu-item {
    width: 155px;
    color: var(--color-dark-transparent-60);

    &:hover {
      font-weight: 500;
    }
  }

  &__footer {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid var(--color-dark-transparent-10);

    @include breakpoint($tablet) {
      grid-column: span 4;
    }

    @include breakpoint($laptop) {
      grid-column: span 5;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__copyright {
    color: var(--color-dark-transparent-60);
  }

  &__badges {
    display: flex;
    gap: 11px;
  }
}
