@import '../../app/styles/media.scss';

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
  justify-items: center;
  justify-content: space-between;
  column-gap: 14px;
  row-gap: 24px;

  @include breakpoint($tablet) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 36px;
  }

  @include breakpoint($laptop) {
    grid-template-columns: repeat(3, 1fr);
  }
}
