.button-count {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 126px;
  padding-block: 6px;
  background-color: var(--color-bg);
  border-radius: 62px;
  font-size: 14px;
  font-weight: 500;

  &__operator {
    font-size: inherit;
    font-weight: inherit;

    &--minus {
      padding-left: 5px;
    }

    &--plus {
      padding-right: 5px;
    }
  }

  &__result {
    padding-inline: 5px;
  }
}
