@import '../../app/styles/media.scss';

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 23px;
    border-bottom: 1px solid var(--color-dark-transparent-10);

    @include breakpoint($laptop) {
      gap: 40px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__menu {
    &-list {
      display: flex;
      gap: 24px;
      white-space: nowrap;
    }

    &-item {
      &:hover {
        border-bottom: 1px solid var(--color-dark);
      }
    }
  }

  &__menu-button {
    width: 24px;
    height: 24px;
  }

  &__logo {
    &-image {
      width: 126px;
      height: 18px;

      @include breakpoint($laptop) {
        width: 160px;
        height: 22px;
      }
    }
  }

  &__search-bar {
    max-width: 577px;

    @include breakpoint($laptop - 0.1px, max) {
      display: none;
    }
  }

  &__icons-group {
    display: flex;
    gap: 12px;
  }

  &__icon-button {
    width: 24px;
    height: 24px;

    &:has(.header__search-icon) {
      @include breakpoint($laptop) {
        display: none;
      }
    }
  }
}
