@import '../../app/styles/media.scss';

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding-block: 23px;
    border-bottom: 1px solid var(--color-dark-transparent-10);

    @include breakpoint($laptop) {
      gap: 40px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__menu {
    @include breakpoint($tablet - 0.1px, max) {
      display: none;

      &--mobile-visible {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: var(--color-bg);
      }
    }
  }

  &__menu {
    &-list {
      display: flex;
      gap: 24px;
      white-space: nowrap;

      @include breakpoint($tablet - 0.1px, max) {
        flex-direction: column;
        gap: 0;
      }
    }

    &-item {
      @include breakpoint($tablet - 0.1px, max) {
        padding-block: 20px;
        border-bottom: 1px solid var(--color-dark-transparent-10);
        font-size: var(--font-size-body-lg);
        font-weight: 500;
        text-align: center;
      }
    }

    &-close-button {
      display: none;
      @include breakpoint($tablet - 0.1px, max) {
        &--mobile-visible {
          display: block;
          position: absolute;
          top: 20px;
          left: 25px;
          width: 24px;
          height: 24px;
          font-size: var(--font-size-body-lg);
          font-weight: 900;
        }
      }
    }
  }

  &__menu-button {
    width: 24px;
    height: 24px;
  }

  &__logo {
    &-image {
      width: 126px;
      height: 18px;

      @include breakpoint($laptop) {
        width: 160px;
        height: 22px;
      }
    }
  }

  &__search-bar {
    max-width: 577px;

    @include breakpoint($laptop - 0.1px, max) {
      display: none;
    }
  }

  &__icons-group {
    display: flex;
    gap: 12px;
  }

  &__icon-button {
    width: 24px;
    height: 24px;

    &:has(.header__search-icon) {
      @include breakpoint($laptop) {
        display: none;
      }
    }
  }
}
