@import '../../app/styles/media.scss';

.categories {
  padding-block: 50px;

  @include breakpoint($desktop) {
    padding-block: 80px;
  }

  &__content {
    padding: 40px 24px 27px;
    border-radius: 20px;
    background-color: var(--color-bg);
  }

  &__title {
    margin-bottom: 28px;
    font-size: 24px;
    text-align: center;
  }

  &__list {
    display: grid;
    row-gap: 16px;
  }

  &__item {
    height: 190px;
    border-radius: 20px;
    background-color: var(--color-light);

    &-title {
      padding-top: 16px;
      padding-left: 24px;
    }
  }
}
