@import '../../app/styles/media.scss';

.categories {
  padding-block: 50px;

  @include breakpoint($desktop) {
    padding-block: 80px;
  }

  &__content {
    padding: 40px 24px 27px;
    border-radius: 20px;
    background-color: var(--color-bg);
  }

  &__title {
    margin-bottom: 28px;
    font-size: 24px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include breakpoint($tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    height: 190px;
    border-radius: 20px;
    background-color: var(--color-light);

    &:hover {
      background-color: var(--color-dark);
      color: var(--color-light);
      transition-duration: 0.2s;
    }

    &-link {
      width: 100%;
    }

    &-title {
      padding-top: 16px;
      padding-left: 24px;
    }
  }
}
